.btn.default{

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #BDBDBD;
    border-radius: 8px;

    max-width: 6.625rem;
    height: 2.5rem;

}


.btn.modal{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #BDBDBD;
    border-radius: 8px;

    max-width: 28.375rem;
    height: 3.75rem;
}