.container{ 
    display: grid;
   
    grid-template-columns: repeat(4, 1fr);
   
    gap: 52px 56px;

    max-width: 85.5rem;
   
    padding-block: 1rem;

    margin: 0 auto;
   
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.container:hover{
    border: var(--color-primary);
}

.money{
    font-weight: 600;
    font-size: 14px;
    color: var(--color-primary);
}

.one{
    font-weight: 400;
    font-size: 12px;
    color: var(--color-gray-300);
}

span.two{
    font-weight: 600;
    font-size: 14px;
    color: var(--color-gray-300); 
}


.mini.products{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 12px;
    align-items: flex-start;
}


@media (min-width:300px) and (max-width:900px){
   .container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
   }
}