.container{ 
    display: grid;
   
    grid-template-columns: repeat(4, 1fr);
   
    gap: 52px 56px;

    max-width: 85.5rem;
   
    padding-block: 1rem;

    padding-left: 7.375rem;
   
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.money{
    font-weight: 600;
    font-size: 14px;
    color: var(--color-primary);
}

.one{
    font-weight: 400;
    font-size: 12px;
    color: var(--color-gray-300);
}