.header{

    width: 100%;
   
    background-color: var(--color-gray-0);


    & img{
        
        max-width: 9.375rem;
    }

    & button{
        font-weight: 900;
        font-size: 22px;
        background: transparent;
        color: #BDBDBD;
        border: 1px solid transparent;
        position: relative;

        & span{
            position: relative; 
         
            border-radius: 7px;
            color: #FFFFFF;
            font-weight: 900;
          
            border: 1px solid var(--color-primary);
            background-color: var(--color-primary);
        }
    }

}


.miniHeader{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid transparent;
 
    width: 100%;
    max-width: 85.5rem;
   
    padding-block: 1rem;
    
    margin: 0 auto;
   
}