.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid transparent;

    width: 100%;
    padding-block: 1rem;
    padding-left: 7.375rem;
    background-color: var(--color-gray-0);

    & img{
        
        max-width: 9.375rem;
    }
}