.cards{
    display: flex;
    flex-direction: column;

    font-family: var(--font-primary);


    & img{
        max-width: 11.063rem;
    }

    & button{
        display: flex;
        align-items: center;
        justify-content: center;
    
        border: 2px solid transparent;
        border-radius: 8px;
    
        background-color: #BDBDBD;

        width: 6.625rem;
        height: 2.5rem;

        color:var(--color-gray-0);

        font-weight: 600;
        font-size: 14px;

    }
}